<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>پنل مدیریت کاربر</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/main.css" />
  </head>

  <body>
    <div class="container pt-2">
      <div class="btns d-flex align-items-center justify-content-between">
        <div class="text-start">
          <a href="/" class="btn btn-info">خانه</a>
          <a href="/createArticle" class="btn btn-success">ساخت مقاله</a>
        </div>
        <div class="text-end">
          <a href="/logout" class="btn btn-dark">خروج</a>
          <a href="/userControl/deleteUser" class="btn btn-danger">حذف حساب</a>
        </div>
      </div>
      <hr />
      <div
        class="d-flex align-items-center justify-content-center flex-column gap-2"
      >
        <img
          src="/uploads/<%= user.photo %>"
          alt="عکس کاربر"
          class="rounded-circle"
          width="250px"
          height="250px"
        />
        <form
          action="/dashboard/changePhoto"
          method="post"
          enctype="multipart/form-data"
        >
          <input
            type="file"
            name="profile_photo"
            id="photo_file"
            class="form-control mb-2"
            hidden
          />
          <input
            type="button"
            id="photoEdit"
            value="ویرایش عکس"
            class="btn btn-warning"
          />
          <input
            type="submit"
            value="ذخیره"
            class="btn btn-success d-none"
            id="photoEditBtn"
          />
        </form>
      </div>
      <form action="/dashboard" method="POST">
        <input
          type="text"
          name="fName"
          disabled
          class="mt-2 form-control"
          value="<%= user.fName %>"
        />
        <input
          type="text"
          name="lName"
          disabled
          class="mt-2 form-control"
          value="<%= user.lName %>"
        />
        <input
          type="text"
          name="userName"
          disabled
          class="mt-2 form-control"
          value="<%= user.userName %>"
        />
        <input
          type="text"
          name="phoneNumber"
          disabled
          class="mt-2 form-control"
          value="<%= user.phoneNumber %>"
        />
        <input
          type="text"
          name="gender"
          disabled
          class="mt-2 form-control"
          value="<%= user.gender %>"
        />
        <input
          type="button"
          value="ویرایش"
          class="mt-2 btn btn-warning"
          id="editBtn"
        />
        <input
          type="submit"
          value="ذخیره"
          class="mt-2 btn btn-success d-none"
          id="saveBtn"
        />
      </form>
      <hr />
      <%- include('./common/articlesTable.ejs') %>
    </div>
    <script src="/dashboard.js"></script>
  </body>
</html>
